﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMGI Premium Calculator Portal - @ViewData["Title"]</title>

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/main.css" rel="stylesheet" type="text/css" />
    <link href="~/css/util.css" rel="stylesheet" type="text/css" />

    <link href="~/vendor/animate/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/animsition/css/animsition.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" type="text/css" />

    <script src="~/vendor/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>

    <link rel="icon" type="image/x-icon" href="https://www.ami-insurance.com/wp-content/uploads/2016/10/new-icon.png">

    <style>
        .fa {
            color: #A92028;
        }

        a {
            color: black;
        }

            a:focus, a:hover {
                color: #A92028;
            }

        .glyphicon {
            color: #A92028;
        }

        .navbar {
            min-height: 60px;
        }

        body {
            font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #000 !important;
            background-color: #fff;
        }


        div {
            font-family: 'Trebuchet MS';
        }

        .nav > li > a {
            color: #000;
        }

        .input100 {
            font-size: 14px !important;
        }

        .page-header {
            padding-bottom: 9px;
            margin: 20px 0 20px;
            border-bottom: 2px solid #A92028;
        }

        .btn {
            border: 2px solid #808080;
        }
    </style>


    <script type="text/javascript">
        // Set timeout variables.
        var timoutNow = 3600000; // Timeout in 15 mins.900000
        var timeoutTimer;

        // Start timers.
        function StartTimers() {
            timeoutTimer = setTimeout("IdleTimeout()", timoutNow);
        }

        // Reset timers.
        function ResetTimers() {
            clearTimeout(timeoutTimer);
            StartTimers();
        }

        // Show idle timeout warning dialog.
        function IdleWarning() {
            $("#timeout").dialog({
                modal: true
            });
        }

        // Logout the user.
        function IdleTimeout() {
            location.href = '@Url.Action("Index", "Home")'
        }

        // delete cookies
        function deleteAllCookies() {
            var cookies = document.cookie.split(";");

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i];
                var eqPos = cookie.indexOf("=");
                var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            }
        }
    </script>
</head>
<body onload="StartTimers();" onunload="deleteAllCookies()" onmousemove="ResetTimers();" onclick="ResetTimers();">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/images/LOGO.png" style="height:50px;margin-top:-10px;" />
                </a>
                <label style="font-size:35px;">UAT</label>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <label id="lblLoginUser"> @HttpContextAccessor.HttpContext.Session.GetString("username") </label>
                </li>
                <li>
                    @DateTime.Now
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        User
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a asp-controller="Profile" asp-action="Detail"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        @*<li>
                            <a asp-controller="Setting" asp-action="index"><i class="fa fa-gear fa-fw"></i> Settings </a>
                        </li>*@
                        <li class="divider"></li>
                        <li>
                            @*@await Html.PartialAsync("_LoginPartial")*@
                            <a asp-controller="Account" asp-action="Login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li id="admin">
                            <a href="#"><i class="fa fa-user fa-fw"></i> Control Panel <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-controller="Admin" asp-action="UserList">User</a>
                                </li>
                                <li>
                                    <a asp-controller="Admin" asp-action="Role">Role</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="AllLockUserList">Lock User</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li id="admin">
                            <a asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard fa-fw"></i> Home <span class="fa arrow"></span></a>

                            <!-- /.nav-second-level -->
                        </li>
                        <li id="setup">
                            <a href="#"><i class="fa fa-gears fa-fw"></i> Setup <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a asp-controller="Setup" asp-action="Branch">Branch</a>
                                </li>
                                <li>
                                    <a asp-controller="Setup" asp-action="Department">Department</a>
                                </li>
                                <li>
                                    <a asp-controller="Setup" asp-action="Product">Product</a>
                                </li>
                                <li>
                                    <a asp-controller="TravelSetup" asp-action="TravelInsuranceType">Travel Insurance Type</a>
                                </li>
                                <li>
                                    <a asp-controller="TravelSetup" asp-action="PremiumUnitAmountList">Premium Unit Amount</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        @*<li id="Motor">
                                <a href="#"><i class="fa fa-car fa-fw"></i> Motor <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a asp-controller="Motor" asp-action="List"> Survey </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Motor" asp-action="SurveyCheckList"> CheckList Item </a>
                                    </li>
                                    <li style="display:none;">
                                        <a asp-controller="Report" asp-action="Motor"> Report</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Motor" asp-action="Documentation"> Study Guide</a>
                                    </li>
                                </ul>
                            </li>*@


                        <li>
                            @*@await Html.PartialAsync("_LoginPartial")*@
                            @*<a asp-controller="Acc" asp-action="SignOut"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Sign Out!</a>*@
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <footer>
            Copyright - &copy; @DateTime.Now.Year <a target="_blank" href="https://www.ami-insurance.com"><strong>AYA Myanmar Insurance</strong></a>
        </footer>
    </div>

    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>
   
    <script src="~/dist/js/sb-admin-2.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#policy-datatable').DataTable({
                responsive: true
            });
        });
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
