﻿@model IEnumerable<AMGI.PremiumCalculator.Project.Models.SysUser>
@{
    ViewData["Title"] = "AllLockUserList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<style>
    #policy-datatable_wrapper {
        margin-left: 10px;
    }
</style>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                Lock User List
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>User</strong>
                    <div class="col-sm-2" style="float:right;">
                        <a href='@Url.Action("ExportLockUserList","Account", null)'>
                            <img src="~/images/excel-file.png" style="float:right;margin-top:-5px;margin-right: -20px;color:#A92028;" />
                        </a>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                        <thead>
                            <tr>
                                <th>USER NAME</th>
                                <th>EMAIL</th>
                                <th>PHONE NO</th>
                                <th>ORGANIZATION</th>
                                <th>ADDRESS</th>
                                <th>STATUS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr class="odd gradeX">
                                    <td>@user.Name</td>
                                    <td>@user.Email</td>
                                    <td>@user.Phone</td>
                                    <td>@user.Organization</td>
                                    <td>@user.Address</td>
                                    <td>@user.AccountStatus</td>
                                    <td style="text-align:center;">
                                        <a href='@Url.Action("LockUser","Account", new { @userId = @user.Id })'>
                                            <img src="~/images/unlocked.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>

                        </tfoot>

                    </table>
                    <!-- /.table-responsive -->

                </div>
            </div>
        </div>
    </div>
