﻿@model SysUser
@{
    ViewData["Title"] = "LockUser";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@using (Html.BeginForm("UnlockUser", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Lock User</h3>
            </div>
        </div>
        <div style="float:right;margin-right:15px;margin-bottom:5px;">
            <a href='@Url.Action("ExportLockUserList","Account", null)'>
                <img src="~/images/excel-file.png" style="float:right;margin-top:-5px;margin-right: -20px;color:#A92028;" />
            </a>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-2 toppad">
                <table class="table table-user-information" style="margin-top:10px;">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            @Html.HiddenFor(model => model.Id)
                        </tr>
                        <tr>
                            <font color="red">@TempData["Message"] </font>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(model => model.Name, new { @class = "col-md-3 control-label" })</td>
                            <td> @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required" })</td>
                        </tr>
                        <tr>
                            <td>@Html.Label("Role", null, new { @class = "col-md-3 control-label" })</td>
                            <td>@Html.DropDownListFor(model => model.Role, ViewBag.RoleList as IEnumerable<SelectListItem>, " ", new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td> @Html.LabelFor(model => model.Email, new { @class = "col-md-3 control-label" })</td>
                            <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @required = "required", @type = "Email" })</td>
                        </tr>

                        @*<tr>
                            <td>@Html.LabelFor(model => model.Organization, new { @class = "col-md-3 control-label" })</td>
                            <td>
                                @Html.TextBoxFor(model => model.Organization, new { @class = "form-control", @required = "required" })
                            </td>
                        </tr>*@
                        <tr>
                            <td>@Html.LabelFor(model => model.Phone, new { @class = "col-md-3 control-label" })</td>
                            <td>
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @required = "required" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.Address, new { @class = "col-md-3 control-label" })</td>
                            <td>
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                            </td>
                        </tr>
                        @*<tr>
                            <td>@Html.LabelFor(model => model.Address2, new { @class = "col-md-3 control-label" })</td>
                            <td>
                                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                            </td>
                        </tr>*@
                        <tr>
                            <td>@Html.Label("Active", null, new { @class = "col-md-3 control-label", @required = "required" })</td>
                            <td>
                                @Html.CheckBoxFor(model => model.IsActive)
                            </td>
                        </tr>

                        <tr colspan="2">
                            <td></td>
                            <td>
                                <button class="btn btn-default" id="btnunlock" type="submit" onclick="return confirm('Are you sure you want to unlock?')">
                                    <i class="fa fa-unlock"></i>
                                    Unlock
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

        </div>
}
