﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model AMGI.PremiumCalculator.Project.Areas.Identity.Pages.Account.LoginModel.InputModel
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Premium Calculator</title>
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
    <link rel="icon" type="image/x-icon" href="~/images/new-icon.png">
    <style>
        body {
            font-family: 'Trebuchet MS';
            background: url('../../../images/bg-3.jpg') center center fixed;
            background-size: cover;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#email").keypress(function (e) {
                var regex = new RegExp("^[a-zA-Z0-9!#$&()-`.+,/\"]*$");
                var charCode = (e.which) ? e.which : e.keyCode;
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str) || charCode == 32)
                    return true;
                else
                    return false;
            });
        });

    </script>
</head>
<body id="Login" style="background-color:#D3A09F;">
    <div class="container">
        <br />
        <br />
        <div class="col-sm-8 col-md-4 col-md-offset-4">
            <div class="login-form">
                <div class="panel" style="padding:40px 40px 40px 40px;background-color:#fff;">
                    <h2 style="color:#a80629;">Premium Calculator</h2>
                    <img src="~/images/ayar_myanmar.jpg" class="img-circle" style="display:block;width:100px;height:100px;margin-left:auto;margin-right:auto;" />
                    <p style="color:#a80629;">Please enter your email and password</p>
                    @*<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">*@
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div asp-validation-summary="All" class="text-black-50"></div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" id="Email" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" class="form-control" id="Password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox" style="color:#444343;">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default" style="color:#a80629;">Login</button>
                        </div>
                        <div class="form-group">
                            <p>
                                @*<a asp-controller="Account" asp-action="ForgotPassword" style="color:#a80629;">Forgot password?</a>*@
                                <a href="~/Identity/Account/ForgotPassword" style="color:#a80629;">Forgot password?</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

