﻿@model UserInfo
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">User Profile</h3>
        <div class="col-sm-2" style="float:right;">
            <a href="~/Identity/Account/Manage/ChangePassword">
                <img src="~/images/ChangePassword.png" style="float:right;margin-top:-5px;margin-right: -20px;" />
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-2 toppad">
        <table class="table table-user-information" style="margin-top:10px;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.Label("Name")</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td>@Html.Label("NRC")</td>
                    <td>@Html.DisplayFor(model => model.NRC)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Email")</td>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Branch")</td>
                    <td>@Html.DisplayFor(model => model.Branch)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Department")</td>
                    <td>@Html.DisplayFor(model => model.Department)</td>
                </tr>
                <tr>
                    <td>@Html.Label("Phone No")</td>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Address)</td>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.IsActive)</td>
                    <td>@Html.DisplayFor(model => model.IsActive)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="~/Identity/Account/Manage/TwoFactorAuthentication" class="btn btn-primary">
                            Two-Factor Authentication
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

