﻿@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = null;
}

<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="~/css/login.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="~/images/new-icon.png">
<style>
    .glyphicon {
        color: #A92028;
    }

    body {
        font-family: 'Trebuchet MS';
    }
</style>

<div class="container" style="margin-top:50px;margin-right:-50px;">
    <div class="row">
        <partial name="_StatusMessage" for="StatusMessage" />
        <h1>@ViewData["Title"]</h1>

        <div class="alert alert-warning" role="alert">
            <p>
                <span class="glyphicon glyphicon-warning-sign"></span>
                <strong>This action only disables 2FA.</strong>
            </p>
            <p>
                Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
                used in an authenticator app you should <a asp-page="./ResetAuthenticator">reset your authenticator keys.</a>
            </p>
        </div>

        <div>
            <form method="post" class="form-group">
                <button class="btn btn-danger" type="submit">Disable 2FA</button>
            </form>
        </div>
    </div>
</div>