﻿@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    //Layout = "~/Views/Shared/_ManageLayout.cshtml";
    Layout = null;
}


<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="~/css/login.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="~/images/new-icon.png">
<style>
    .glyphicon {
        color: #A92028;
    }

    body {
        font-family: 'Trebuchet MS';
    }
</style>

<div class="container" style="margin-top:50px;margin-right:-50px;">
    <div class="row">
        <partial name="_StatusMessage" for="StatusMessage" />
        <style>
            .row {
                margin-bottom: 10px;
                margin-left: 5px;
            }

            ol li {
                list-style-type: decimal;
            }
        </style>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Enable Authenticator</h3>
            </div>
        </div>

        <div class="row">
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
                </p>
                <p>
                    This process disables 2FA until you verify your authenticator app.
                    If you do not complete your authenticator app configuration you may lose access to your account.
                </p>
            </div>
            <div>
                <form id="reset-authenticator-form" method="post" class="form-group">
                    <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
                </form>
            </div>
        </div>
    </div>
</div>
