﻿@model TravelInsuranceType
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script type="text/javascript">
    $('document').ready(function () {

        $('#btnCalculate').click(function () {

            // Check Value from Departure Date, Arrival Date and Travel Type
            if ($('#txtDepartureDate').val() == "" && $('#txtArrivalDate').val() == "") {
                alert("Date must not be null");
                $('#txtDepartureDate').focus();
                return;
            }
            if ($('#Name').val() == "") {
                alert('Travel Type must not be blank.');
                return;
            }

            var travelType = $('#Name').val();
            var departureDate = $('#txtDepartureDate').val();
            var arrivalDate = $('#txtArrivalDate').val();
            var unit = $('#ddlUnit').val();

            // Deaparture Date must not less than the current date
            var currentdate = new Date().toDateString();
            var departuredate = new Date($('#txtDepartureDate').val()).toDateString();
            if (departuredate < currentdate) {
                alert('Departure date must not less than the current date.');
                return;
            }

            //Oversea travel must start 1 week
            if (travelType == "Oversea Travel") {
                arrivalDate = new Date(arrivalDate);
                departureDate = new Date(departuredate);
                // To calculate the time difference of two dates
                var Difference_In_Time = arrivalDate.getTime() - departureDate.getTime();
                // To calculate the no. of days between two dates
                var Difference_In_Days = Math.floor((Date.UTC(arrivalDate.getFullYear(), arrivalDate.getMonth(), arrivalDate.getDate()) - Date.UTC(departureDate.getFullYear(), departureDate.getMonth(), departureDate.getDate())) / (1000 * 60 * 60 * 24)) + 1;
                if (Difference_In_Days < 7) {
                    alert("Days must be between 7 days and 90 days for Oversea Travel");
                    return;
                }

            }

            var request = {};
            request.travelType = travelType;
            request.departureDate = departureDate;
            request.arrivalDate = arrivalDate;
            request.unit = unit;

            $.ajax({
                type: "POST",
                url: "/Home/CalculateTravel",
                data: JSON.stringify(request),
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function () {
                   window.location.href =  '@Url.Action("TravelPremiumDetail", "Home")'
                },
                error: function () {
                    alert("Departure Date must be greater than Current Date");
                    }
            });

        });

        $('#ddlUnit').change(function () {
            var Amt = 500000;
            var Unit = $('#ddlUnit').val();
            var coverAmt = Amt * Unit;
            $('#txtCoverageAmt').val(addCommas(coverAmt));
        });

    });

    function addCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }
</script>

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Premium Calculator
        </h3>
    </div>
</div>


<link href="~/css/custom.css" rel="stylesheet" />

@*<div class="row">
    <div class="col-md-4">
            <a href="#" data-toggle="modal" data-target="#mdTravelCalculate">
                <span class="fa fa-calculator" style="padding:50px;"></span>
            </a>
    </div>
</div>*@

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#" data-toggle="modal" data-target="#mdTravelCalculate">
                <img src="~/images/travel.png" class="center img-style" />
                <h5 style="text-align:center;">Travel Insurance</h5>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#" data-toggle="modal" data-target="#mdTravelCalculate">
                <img src="~/images/car-100.png" class="center img-style" />
                <h5 style="text-align:center;">Motor Insurance</h5>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#" data-toggle="modal" data-target="#mdTravelCalculate">
                <img src="~/images/fire-100.png" class="center img-style" />
                <h5 style="text-align:center;">Fire Insurance</h5>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#" data-toggle="modal" data-target="#mdTravelCalculate">
                <img src="~/images/marine.png" class="center img-style" />
                <h5 style="text-align:center;">Marine Insurance</h5>
            </a>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
        <div class="div-square">
            <a href="#" data-toggle="modal" data-target="#mdTravelCalculate">
                <img src="~/images/health.png" class="center img-style" />
                <h5 style="text-align:center;">Health Insurance</h5>
            </a>
        </div>
    </div>


</div>

<div id="mdTravelCalculate" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog" style="background-color: #DFF0D8">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background-color:#a80629">
                <button type="button" class="close" data-dismiss="modal" style="color:#fff;">&times;</button>
                <h4 class="modal-title" style="color:#f8f8f8;">Travel Calculator</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-label-left">
                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Travel Type</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(model => model.Name, ViewBag.TravelTypeList as IEnumerable<SelectListItem>, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Departure Date</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="date" class="form-control" style="line-height:25px;" id="txtDepartureDate" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Arrival Date</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="date" class="form-control" style="line-height:25px;" id="txtArrivalDate" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Departure Date</label>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @*@Html.DropDownListFor(model => model.Unit, new SelectList(Enum.GetValues(typeof(AMGI.PremiumCalculator.Project.Models.TravelCalculatorViewModel.TravelPremiumUnit))),"Select Unit")*@
                                    @Html.DropDownList("Unit", new List<SelectListItem>
                                    {
                                       new SelectListItem{ Text="1", Value = "1" },
                                       new SelectListItem{ Text="2", Value = "2" },
                                       new SelectListItem{ Text="3", Value = "3" },
                                       new SelectListItem{ Text="4", Value = "4" },
                                       new SelectListItem{ Text="5", Value = "5" },
                                       new SelectListItem{ Text="6", Value = "6" },
                                       new SelectListItem{ Text="7", Value = "7" },
                                       new SelectListItem{ Text="8", Value = "8" },
                                       new SelectListItem{ Text="9", Value = "9" },
                                       new SelectListItem{ Text="10", Value = "10" },
                                       new SelectListItem{ Text="11", Value = "11" },
                                       new SelectListItem{ Text="12", Value = "12" },
                                       new SelectListItem{ Text="13", Value = "13" },
                                       new SelectListItem{ Text="14", Value = "14" },
                                       new SelectListItem{ Text="15", Value = "15" },
                                       new SelectListItem{ Text="16", Value = "16" },
                                       new SelectListItem{ Text="17", Value = "17" },
                                       new SelectListItem{ Text="18", Value = "18" },
                                       new SelectListItem{ Text="19", Value = "19" },
                                       new SelectListItem{ Text="20", Value = "20" },
                                    }, new { @class = "form-control", @id= "ddlUnit"} )
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Coverage Amount</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBox("txtCoverageAmt", @String.Format("{0:#,#.00}", "500000"), new { @class = "form-control", @style = "text-align:right;", @disabled = true })
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCalculate">Calculate</button>
            </div>
        </div>
    </div>
</div>
