﻿@model TravelPremiumUnitAmountViewModel
@{
    ViewData["Title"] = "TravelPremiumDetail";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Premium Details
        </h3>
    </div>
</div>

<div class="row container" style="margin-top:20px;">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table style="width: 100%;" class="table table-hover table-responsive" id="policy-datatable">
                   
                    <tbody>
                        <tr style="color:#fff;background-color:#A92028;">
                            <td style="font-weight:bold;">Premium (MMK)</td>
                            <td>:</td>
                            <td style="font-weight:bold;">@Model.PremiumAmount</td>
                        </tr>
                        <tr>
                            <th style="color:#A92028;">Individual Benefit</th>
                            <td></td>
                            <th style="color:#A92028;">Coverage</th>
                        </tr>
                        <tr>
                            <td>Injury Benefit</td>
                            <td></td>
                            <td>The benefit calculation is based on doctor’s recommendation/ medical certificate under the insured’s name.</td>
                        </tr>
                        <tr>
                            <td>Total Permanent Disability</td>
                            <td></td>
                            <td>@Model.Coverage</td>
                        </tr>
                        <tr>
                            <td>Death Benefit</td>
                            <td></td>
                            <td>@Model.Coverage</td>
                        </tr>
                        
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>