﻿@model AMGI.PremiumCalculator.Project.Models.PremiumUnitAmount
@{
    ViewData["Title"] = "CreatePremiumUnitAmount";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}


@using (Html.BeginForm("SavePremiumUnitAmount", "TravelSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Travel Insurance Type</h3>
        </div>
        <div style="float:right;margin-right:30px;">
            <a href='@Url.Action("PremiumUnitAmountList","TravelSetup", null)' id="imgUserList">
                <img src="~/images/RoleList.png" />
            </a>

        </div>
    </div>

    @Html.HiddenFor(model => model.Id)

    <div class="row">
        <font color="red">@TempData["Message"] </font>
    </div>

    <div class="row">
        <div class="form-horizontal" style="margin-left:30px;">

            <div class="form-group">
                <div class="col-md-3">
                    @Html.Label("Name", null, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @required = "required", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.Label("Description", null, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @required = "required", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.Label("Days", null, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Days, new { @class = "form-control", @required = "required", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.Label("Amount", null, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @required = "required", autocomplete = "off" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3">
                    @Html.Label("Travel Insurance Type", null, new { @class = "control-label" })
                </div>
                <div class="col-md-4">
                    @*@Html.TextBoxFor(model => model.TravelInsuranceTypeCode, new { @class = "form-control", @required = "required", autocomplete = "off" })*@
                    @Html.DropDownListFor(model => model.TravelInsuranceTypeCode, ViewBag.TravelInsuranceType as IEnumerable<SelectListItem>, " ", new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-3">

            </div>
            <div class="col-md-4">
                <button type="submit" class="btn" style="color:#A92028;">Save</button>
            </div>

        </div>


    </div>
    
}