﻿
@{
    ViewData["Title"] = "ImportTravelInsuranceTypeList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@*<script>

        $('document').ready(function () {

            $('#btnUpload').click(function () {

                var formData = new FormData($('form')[0]);

                $('#mdlSuccess').modal('hide');
                $('#mdlInvalid').modal('hide');
                $('#pSuccess').html("");
                $('#pInvalid').html("");

                $.ajax({
                    url: '/TravelSetup/ImportExcel',
                    type: "POST",
                    dataType: "JSON",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (fnStockClass) {

                        if (fnStockClass.RetCode == 0) {
                            $('#mdlInvalid').modal('show');
                            $('#pInvalid').html(fnStockClass.RetMessage);

                        }

                        else {
                            var tableContent = "";

                            $.each(fnStockClass.StockClassList, function (i, stockClass) {

                                var itemLenght = $('tr[title = "StockInfo"]').length;
                                tableContent += "<tr><td>" + stockClass.StockClassCode + "</td><td>" + stockClass.StockClassName + "</td><td>" + stockClass.StockClassDescription + "</td>";
                                if (stockClass.IsStock)
                                {
                                    tableContent += "<td style='text-align:center'><input type='checkbox' checked='checked' disabled='disabled name='IsStock' /></td>";
                                }
                                else
                                {
                                    tableContent += "<td style='text-align:center'><input type='checkbox' disabled='disabled name='IsStock' /></td>";
                                }
                                if (stockClass.Active) {
                                    tableContent += "<td style='text-align:center'><input type='checkbox' checked='checked' disabled='disabled name='Active' /></td>";
                                }
                                else {
                                    tableContent += "<td style='text-align:center'><input type='checkbox' disabled='disabled name='Active' /></td>";
                                }
                                tableContent += "</tr>";

                            });
                            $('#tBodyStockClassInfo').html(tableContent);
                        }
                    }
                });


            });

            $('#btnSuccessOk').click(function () {

                window.location.href = "/StockClass/Create";

            });

            $('#btnSave').click(function () {

                $('#mdlSuccess').modal('hide');
                $('#mdlInvalid').modal('hide');
                $('#pSuccess').html("");
                $('#pInvalid').html("");


                $.ajax({
                    url: '@Url.Action("SaveExcelData", "StockClass")',
                    type: "POST",
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function (returnMessage) {

                        if (returnMessage.RetCode > 0) {

                            $('#mdlSuccess').modal('show');
                            $('#pSuccess').html(returnMessage.RetMessage);
                            var successCode = "'" + stockClassCode + "'";
                            $('#bSuccessCode').html(successCode);
                        }
                        else {
                            $('#mdlInvalid').modal('show');
                            $('#pInvalid').html(returnMessage.RetMessage);
                        }

                    }

                });
            });
        });

    </script>*@


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Import Travel Insurance Type List
        </h3>
    </div>
</div>

@using (Html.BeginForm("ImportExcelData", "TravelSetup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<p>Excel File : </p>
        <input type="file" class="btn btn-danger" name="excelfile" />
        <button type="submit" class="btn" style="color:#A92028;">Upload</button>*@
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="reportfile" name="reportfile" class="form-control" />
        </div>
        <div class="col-md-8">
            <input type="submit" id="btnUpload" value="Upload" class="btn" style="color:#A92028;" />
        </div>
    </div>
    
}