﻿@model AMGI.PremiumCalculator.Project.Models.PremiumUnitAmountViewModel
@{
    ViewData["Title"] = "PremiumUnitAmountList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Premium Unit Amount List
        </h3>
    </div>
</div>

<div class="row">
    <ul class="nav navbar-right panel_toolbox" style="margin-right:20px;">
        <li style="float:left;display:none;">
            <a href='@Url.Action("CreatePremiumUnitAmountList", "TravelSetup", null)'><i class="fa fa-plus" style="font-size:30px;"></i></a>
        </li>

        <li class="dropdown" style="float:left;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-file-excel-o" style="font-size:30px;"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href='@Url.Action("ExportPremiumUnitAmountList", "TravelSetup", null)'><i class="fa fa-download"></i> Export</a>
                </li>
                <li>
                    <a href="@Url.Action("ImportPremiumUnitAmountList", "TravelSetup")" id="btnImport"><i class="fa fa-upload"></i> Import</a>
                </li>
            </ul>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>DAYS</th>
                            <th>AMOUNT</th>
                            <th>
                                TRAVELINSURANCETYPE
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var premiumUnitAmount in (List<PremiumUnitAmountViewModel>)ViewBag.PremiumUnitAmountList)
                        {
                        <tr class="odd gradeX">
                            <td>@premiumUnitAmount.Name</td>
                            <td>@premiumUnitAmount.Description</td>
                            <td>@premiumUnitAmount.Days</td>
                            <td>@premiumUnitAmount.Amount</td>
                            <td>@premiumUnitAmount.TravelInsuranceTypeName</td>

                            <td style="text-align:center;">
                                <a href='@Url.Action("EditPremiumUnitAmount", "TravelSetup", new { Id = @premiumUnitAmount.Id })'>
                                    <img src="~/images/Edit.png" />
                                </a>
                            </td>

                            <td style="text-align:center;">
                                <a href='@Url.Action("DeletePremiumUnitAmountAsync", "TravelSetup", new { @Id = @premiumUnitAmount.Id })' onclick="return confirm('Are you sure you want to delete this item?');">
                                    <img src="~/images/remove.png" />
                                </a>
                            </td>

                        </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>


