﻿@model AMGI.PremiumCalculator.Project.Models.TravelInsuranceType
@{
    ViewData["Title"] = "TravelInsuranceType";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Travel Insurance Type List
        </h3>
    </div>
</div>

<div class="row">
    <ul class="nav navbar-right panel_toolbox" style="margin-right:20px;">
        <li style="float:left;display:none;">
            <a href='@Url.Action("CreateTravelInsuranceType", "TravelSetup", null)'><i class="fa fa-plus" style="font-size:30px;"></i></a>
        </li>

        <li class="dropdown" style="float:left;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-file-excel-o" style="font-size:30px;"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href='@Url.Action("ExportTravelInsuranceTypeList", "TravelSetup", null)'><i class="fa fa-download"></i> Export</a>
                </li>
                <li>
                    <a href="@Url.Action("ImportTravelInsuranceTypeList", "TravelSetup")" id="btnImport"><i class="fa fa-upload"></i> Import</a>
                </li>
            </ul>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                    <thead>
                        <tr>
                            <th>CODE</th>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>TERM</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var traveltype in (List<TravelInsuranceType>)ViewBag.TravelInsuranceTypesList)
                        {
                        <tr class="odd gradeX">
                            <td>@traveltype.Code</td>
                            <td>@traveltype.Name</td>
                            <td>@traveltype.Description</td>
                            <td>@traveltype.Term</td>
                            <td style="text-align:center;">
                                <a href='@Url.Action("EditTravelInsuranceType", "TravelSetup", new { Id = @traveltype.Id })'>
                                    <img src="~/images/Edit.png" />
                                </a>
                            </td>
                            <td style="text-align:center;">
                                <a href='@Url.Action("DeleteTravelInsuranceTypeAsync", "TravelSetup", new { @Id = @traveltype.Id })' onclick="return confirm('Are you sure you want to delete this item?');">
                                    <img src="~/images/remove.png" />
                                </a>
                            </td>

                        </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>

