﻿@model Role
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@using (Html.BeginForm("Role", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Role</h1>
        </div>
        @Html.HiddenFor(model => model.RoleId)

        <div class="col-md-12">
            <div class="col-md-4">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Name</span>
                    <input class="input100" type="text" name="RoleName" asp-for="RoleName" placeholder="Enter Name" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Description</span>
                    <input class="input100" type="text" name="Description" asp-for="Description" placeholder="Enter Description" required>
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="col-md-2">
                    <a href='@Url.Action("Role","Admin", null)' class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        New
                    </a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="submit" onclick="return confirm('Are you sure you want to save?')">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
                <div class="col-md-2">
                    <a href='@Url.Action("DeleteRole","Admin", new { @roleId = Model.RoleId})' id="btnDelete" class="btn btn-default" onclick="return confirm('Are you sure you want to delete?')">
                        <i class="fa fa-cut"></i>
                        Delete
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <font color="red">@TempData["Message"]</font>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>DESCRIPTION</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in (List<Role>)ViewBag.RoleList)
                            {
                                <tr class="odd gradeX">
                                    <td>@role.RoleName</td>
                                    <td>@role.Description</td>
                                    <td style="text-align:center;">
                                        <a href='@Url.Action("EditRole", "Admin", new { @roleId = @role.RoleId })'>
                                            <img src="~/images/Edit.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}