﻿@model SysUser

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<script type="text/javascript">
    function fnSelectRiskCategory() {
        // Get the checkbox
        var checkBox = document.getElementById('chkRisk');
        var divRiskCategory = document.getElementById("RiskCategory");

        //var chkFire = document.getElementById('chkFire');
        //var chkMortor = document.getElementById('chkMortor');
        //var chkMarine = document.getElementById('chkMarine');

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true) {

            //if (chkFire.checked == false && chkMortor.checked == false && chkMarine.checked == false) {
            //    alert("Please check one of Risk Category");
            //}

            divRiskCategory.style.display = "block";
        } else {
            divRiskCategory.style.display = "none";
        }
    } 
</script>
@using (Html.BeginForm("UserAsync", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">User</h2>
            <a href='@Url.Action("UserList","Admin", null)'>
                <img src="~/images/userlist.png" style="float:right;color:#A92028;" />
            </a>
        </div>

        <div class="col-md-12">
            <div class="col-md-5">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Password" />
                <input type="hidden" asp-for="PasswordSalt" />
                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Name</span>
                    <input class="input100" type="text" name="Name" asp-for="Name" placeholder="Enter Name">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input class="input100" type="text" name="Email" asp-for="Email" placeholder="Enter Email">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Phoneno is required">
                    <span class="label-input100">Phone</span>
                    <input class="input100" type="text" name="Phone" asp-for="Phone" placeholder="Enter Phone No">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Position is required">
                    <span class="label-input100">Position</span>
                    <input class="input100" type="text" name="Position" asp-for="Position" placeholder="Enter Position">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Remark</span>
                    <input class="input100" type="text" name="Name" asp-for="Remark" placeholder="Enter Remark">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-5">

                <div class="wrap-input100 validate-input" data-validate="Address is required">
                    <span class="label-input100">Address</span>
                    <input class="input100" type="text" name="Address" asp-for="Address" placeholder="Enter Address">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Role</span>
                    <div>
                        @Html.DropDownListFor(model => model.Role, ViewBag.RoleList as IEnumerable<SelectListItem>, "Select Role", new { @class = "input100", @style = "border:none;margin-top:9px;" })
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Department</span>
                    <div>
                        @Html.DropDownListFor(model => model.Department, ViewBag.DeptList as IEnumerable<SelectListItem>, "Select Department", new { @class = "input100", @style = "border:none;margin-top:9px;" })
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Branch</span>
                    <div>
                        @Html.DropDownListFor(model => model.Branch, ViewBag.BranchList as IEnumerable<SelectListItem>, "Select Branch", new { @class = "input100", @style = "border:none;margin-top:9px;" })
                    </div>
                    <span class="focus-input100"></span>
                </div>

            </div>
        </div>

        <div class="col-md-6" style="margin-bottom:10px;">
            <div class="col-md-2">
                <a href='@Url.Action("User","Admin", null)' class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    New
                </a>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="btnSave" type="submit" onclick="return confirm('Are you sure you want to save?')">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
            <div class="col-md-2">
                <a href='@Url.Action("DeleteUser","Admin", new { @Id = Model.Id})' id="btnDelete" class="btn btn-default" onclick="return confirm('Are you sure you want to delete?')">
                    <i class="fa fa-cut"></i>
                    Delete
                </a>
            </div>
        </div>
    </div>
}

