﻿@model IEnumerable<AMGI.PremiumCalculator.Project.Models.UserInfo>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<style>
    #policy-datatable_wrapper {
        margin-left: 10px;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            User List
        </h3>
        <a href='@Url.Action("ExportUserList","Admin", null)'>
            <img src="~/images/excel-file.png" style="float:right;color:#A92028;margin-bottom:2px;" />
        </a>
        <a href='@Url.Action("User","Admin", null)'>
            <img src="~/images/add-user.png" style="float:right;margin-right:15px;color:#A92028;margin-bottom:2px;" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>ROLE</th>
                            <th>EMAIL</th>
                            <th>DEPARTMENT</th>
                            <th>BRANCH</th>
                            <th>ADDRESS</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in (List<UserInfo>)ViewBag.UserList)
                        {
                            <tr class="odd gradeX">
                                <td>@user.Name</td>
                                <td>@user.Role</td>
                                <td>@user.Email</td>
                                <td>@user.Department</td>
                                <td>@user.Branch</td>
                                <td>@user.Address</td>
                                @*<td style="text-align:center;">@Html.CheckBox("chkActive", @user.IsActive, new { @disabled = "disabled" })</td>*@
                                <td style="text-align:center;">
                                    <a href='@Url.Action("EditUser", "Admin", new { @userId = @user.Id })'>
                                        <img src="~/images/Edit.png" />
                                    </a>
                                </td>

                                <td style="text-align:center;">
                                    <a href='@Url.Action("CheckUserInfo", "Admin", new { @userId = @user.Id })'>
                                        <img src="~/images/select.png" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>
