﻿@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}



<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.css" type="text/css" />
<link rel="stylesheet" href="~/css/login.css" type="text/css" />
<link rel="icon" type="image/x-icon" href="~/images/new-icon.png">
<style>
    .glyphicon {
        color: #A92028;
    }

    body {
        font-family: 'Trebuchet MS';
    }
</style>

<div class="container" style="margin-top:50px;margin-right:-50px;">
    <h1>@ViewData["Title"]</h1>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
