﻿@model Branch
@{
    ViewData["Title"] = "Branch";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@using (Html.BeginForm("Branch", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Branch</h1>
        </div>
        @Html.HiddenFor(model => model.BranchId)
        <font color="red">@TempData["Message"]</font>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Name</span>
                    <input class="input100" type="text" name="Name" asp-for="Name" placeholder="Enter Name">
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Description</span>
                    <input class="input100" type="text" name="Description" asp-for="Description" placeholder="Enter Description">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Address</span>
                    <input class="input100" type="text" name="Address" asp-for="Address" placeholder="Enter Address" multiple>
                    <span class="focus-input100"></span>
                </div>
            </div>
            <div class="col-md-6" style="margin-top:35px;">
                <div class="col-md-2">
                    <a href='@Url.Action("Branch","Setup", null)' class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        New
                    </a>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="btnSave" type="submit" onclick="return confirm('Are you sure you want to save?')">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
                <div class="col-md-2">
                    <a href='@Url.Action("DeleteBranch","Setup", new { @branchId = Model.BranchId})' id="btnDelete" class="btn btn-default" onclick="return confirm('Are you sure you want to delete?')">
                        <i class="fa fa-cut"></i>
                        Delete
                    </a>
                </div>
                <div class="col-md-6">
                    <font color="red"> @TempData["Message"]</font>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <br />
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>DESCRIPTION</th>
                                <th>ADDRESS</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var branch in (List<Branch>)ViewBag.BranchList)
                            {
                                <tr class="odd gradeX">
                                    <td>@branch.Name</td>
                                    <td>@branch.Description</td>
                                    <td>@branch.Address</td>
                                    <td style="text-align:center;">
                                        <a href='@Url.Action("EditBranch", "Setup", new { @branchId = @branch.BranchId })'>
                                            <img src="~/images/Edit.png" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

s