﻿
@{
    ViewData["Title"] = "ImportProductList";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Import Travel Insurance Type List
        </h3>
    </div>
</div>

@using (Html.BeginForm("ImportExcelData", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*<p>Excel File : </p>
        <input type="file" class="btn btn-danger" name="excelfile" />
        <button type="submit" class="btn" style="color:#A92028;">Upload</button>*@
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="reportfile" name="reportfile" class="form-control" />
        </div>
        <div class="col-md-8">
            <input type="submit" id="btnUpload" value="Upload" class="btn" style="color:#A92028;" />
        </div>
    </div>

}