﻿@model Product
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Product List
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="border:1px solid red;">
        <font color="red">@TempData["Message"]</font>
    </div>
    <ul class="nav navbar-right panel_toolbox" style="margin-right:20px;">

        <li style="float:left;display:none;">
            <a href='@Url.Action("CreateProduct", "Setup", null)'><i class="fa fa-plus" style="font-size:30px;"></i></a>
        </li>

        <li class="dropdown" style="float:left;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-file-excel-o" style="font-size:30px;"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href='@Url.Action("ExportProductList", "Setup", null)'><i class="fa fa-download"></i> Export</a>
                </li>
                <li>
                    <a href="@Url.Action("ImportProductList", "Setup")" id="btnImport"><i class="fa fa-upload"></i> Import</a>
                </li>
            </ul>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table style="width: 100%;" class="table table-striped table-bordered table-hover" id="policy-datatable">
                    <thead>
                        <tr>
                            <th>NAME</th>
                            <th>DESCRIPTION</th>
                            <th>EDIT</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in (List<Product>)ViewBag.ProductList)
                        {
                        <tr class="odd gradeX">
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td style="text-align:center;">
                                <a href='@Url.Action("EditProduct", "Setup", new { Id = @product.Id })'>
                                    <img src="~/images/Edit.png" />
                                </a>
                            </td>
                            <td style="text-align:center;">
                                <a href='@Url.Action("DeleteProductAsync", "Setup", new { @Id = @product.Id })' onclick="return confirm('Are you sure you want to delete this item?');">
                                    <img src="~/images/remove.png" />
                                </a>
                            </td>

                        </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <!-- /.table-responsive -->
            </div>
        </div>
    </div>
</div>
