﻿body {
    background-color: white;
}

#CA1, #CA2, #CA3, #CA4, #N1, #N2, #N3, #N4 {
    display: none;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

    .small-box > .inner {
        padding: 10px;
    }


    .small-box > .small-box-footer {
        position: relative;
        text-align: center;
        color: #fff;
        display: block;
        z-index: 10;
        text-decoration: none;
    }

span .small-box-footer {
    position: relative;
    text-align: center;
    color: #fff;
    display: block;
    z-index: 10;
    text-decoration: none;
    padding-top: 10px;
}

span, i {
    color: #a92028;
}

.icon i {
    color: rgba(255,255,255,0.8);
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 30px;
    padding-top: 5px;
    color: rgba(0,0,0,0.15);
}

.small-box h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.ion {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-red {
    background-color: #dd4b39 !important;
}

.small-box p {
    z-index: 5;
    padding-top: 8px;
    font-size: 15px;
}

p {
    margin: 0 0 10px;
    color: white;
}

/*Dashboard Style*/

/* Infobox ===================================== */
.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

    .info-box .icon {
        display: inline-block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.12);
        width: 80px;
    }

        .info-box .icon i {
            color: #fff;
            font-size: 50px;
            line-height: 80px;
        }

        .info-box .icon .chart.chart-bar {
            height: 100%;
            line-height: 100px;
        }

            .info-box .icon .chart.chart-bar canvas {
                vertical-align: baseline !important;
            }

        .info-box .icon .chart.chart-pie {
            height: 100%;
            line-height: 123px;
        }

            .info-box .icon .chart.chart-pie canvas {
                vertical-align: baseline !important;
            }

        .info-box .icon .chart.chart-line {
            height: 100%;
            line-height: 115px;
        }

            .info-box .icon .chart.chart-line canvas {
                vertical-align: baseline !important;
            }

    .info-box .content {
        display: inline-block;
        padding: 7px 10px;
    }

        .info-box .content .text {
            font-size: 13px;
            margin-top: 11px;
            color: #555;
        }

        .info-box .content .number {
            font-weight: normal;
            font-size: 26px;
            margin-top: -4px;
            color: #555;
        }

    .info-box.hover-zoom-effect .icon {
        overflow: hidden;
    }

        .info-box.hover-zoom-effect .icon i {
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

    .info-box.hover-zoom-effect:hover .icon i {
        opacity: 0.4;
        -moz-transform: rotate(-32deg) scale(1.4);
        -ms-transform: rotate(-32deg) scale(1.4);
        -o-transform: rotate(-32deg) scale(1.4);
        -webkit-transform: rotate(-32deg) scale(1.4);
        transform: rotate(-32deg) scale(1.4);
    }

    .info-box.hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 80px;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }

    .info-box.hover-expand-effect:hover:after {
        width: 100%;
    }

.info-box-2 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

    .info-box-2 .icon {
        display: inline-block;
        text-align: center;
        width: 80px;
    }

        .info-box-2 .icon i {
            color: #fff;
            font-size: 50px;
            line-height: 80px;
        }

    .info-box-2 .chart.chart-bar {
        height: 100%;
        line-height: 105px;
    }

        .info-box-2 .chart.chart-bar canvas {
            vertical-align: baseline !important;
        }

    .info-box-2 .chart.chart-pie {
        height: 100%;
        line-height: 123px;
    }

        .info-box-2 .chart.chart-pie canvas {
            vertical-align: baseline !important;
        }

    .info-box-2 .chart.chart-line {
        height: 100%;
        line-height: 115px;
    }

        .info-box-2 .chart.chart-line canvas {
            vertical-align: baseline !important;
        }

    .info-box-2 .content {
        display: inline-block;
        padding: 7px 10px;
    }

        .info-box-2 .content .text {
            font-size: 13px;
            margin-top: 11px;
            color: #555;
        }

        .info-box-2 .content .number {
            font-weight: normal;
            font-size: 26px;
            margin-top: -4px;
            color: #555;
        }

    .info-box-2.hover-zoom-effect .icon {
        overflow: hidden;
    }

        .info-box-2.hover-zoom-effect .icon i {
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }

    .info-box-2.hover-zoom-effect:hover .icon i {
        opacity: 0.4;
        -moz-transform: rotate(-32deg) scale(1.4);
        -ms-transform: rotate(-32deg) scale(1.4);
        -o-transform: rotate(-32deg) scale(1.4);
        -webkit-transform: rotate(-32deg) scale(1.4);
        transform: rotate(-32deg) scale(1.4);
    }

    .info-box-2.hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }

    .info-box-2.hover-expand-effect:hover:after {
        width: 100%;
    }

.info-box-3 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

    .info-box-3 .icon {
        position: absolute;
        right: 10px;
        bottom: 2px;
        text-align: center;
    }

        .info-box-3 .icon i {
            color: rgba(0, 0, 0, 0.15);
            font-size: 60px;
        }

    .info-box-3 .chart {
        margin-right: 5px;
    }

        .info-box-3 .chart.chart-bar {
            height: 100%;
            line-height: 50px;
        }

            .info-box-3 .chart.chart-bar canvas {
                vertical-align: baseline !important;
            }

        .info-box-3 .chart.chart-pie {
            height: 100%;
            line-height: 34px;
        }

            .info-box-3 .chart.chart-pie canvas {
                vertical-align: baseline !important;
            }

        .info-box-3 .chart.chart-line {
            height: 100%;
            line-height: 40px;
        }

            .info-box-3 .chart.chart-line canvas {
                vertical-align: baseline !important;
            }

    .info-box-3 .content {
        display: inline-block;
        padding: 7px 16px;
    }

        .info-box-3 .content .text {
            font-size: 13px;
            margin-top: 11px;
            color: #555;
        }

        .info-box-3 .content .number {
            font-weight: normal;
            font-size: 26px;
            margin-top: -4px;
            color: #555;
        }

    .info-box-3.hover-zoom-effect .icon i {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .info-box-3.hover-zoom-effect:hover .icon i {
        opacity: 0.4;
        -moz-transform: rotate(-32deg) scale(1.4);
        -ms-transform: rotate(-32deg) scale(1.4);
        -o-transform: rotate(-32deg) scale(1.4);
        -webkit-transform: rotate(-32deg) scale(1.4);
        transform: rotate(-32deg) scale(1.4);
    }

    .info-box-3.hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }

    .info-box-3.hover-expand-effect:hover:after {
        width: 100%;
    }

.info-box-4 {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

    .info-box-4 .icon {
        position: absolute;
        right: 10px;
        bottom: 2px;
        text-align: center;
    }

        .info-box-4 .icon i {
            color: rgba(0, 0, 0, 0.15);
            font-size: 60px;
        }

    .info-box-4 .chart {
        margin-right: 5px;
    }

        .info-box-4 .chart.chart-bar {
            height: 100%;
            line-height: 50px;
        }

            .info-box-4 .chart.chart-bar canvas {
                vertical-align: baseline !important;
            }

        .info-box-4 .chart.chart-pie {
            height: 100%;
            line-height: 34px;
        }

            .info-box-4 .chart.chart-pie canvas {
                vertical-align: baseline !important;
            }

        .info-box-4 .chart.chart-line {
            height: 100%;
            line-height: 40px;
        }

            .info-box-4 .chart.chart-line canvas {
                vertical-align: baseline !important;
            }

    .info-box-4 .content {
        display: inline-block;
        padding: 7px 16px;
    }

        .info-box-4 .content .text {
            font-size: 13px;
            margin-top: 11px;
            color: #555;
        }

        .info-box-4 .content .number {
            font-weight: normal;
            font-size: 26px;
            margin-top: -4px;
            color: #555;
        }

    .info-box-4.hover-zoom-effect .icon i {
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .info-box-4.hover-zoom-effect:hover .icon i {
        opacity: 0.4;
        -moz-transform: rotate(-32deg) scale(1.4);
        -ms-transform: rotate(-32deg) scale(1.4);
        -o-transform: rotate(-32deg) scale(1.4);
        -webkit-transform: rotate(-32deg) scale(1.4);
        transform: rotate(-32deg) scale(1.4);
    }

    .info-box-4.hover-expand-effect:after {
        background-color: rgba(0, 0, 0, 0.05);
        content: ".";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: transparent;
        -moz-transition: all 0.95s;
        -o-transition: all 0.95s;
        -webkit-transition: all 0.95s;
        transition: all 0.95s;
    }

    .info-box-4.hover-expand-effect:hover:after {
        width: 100%;
    }

/* Breadcrumbs ================================= */
.breadcrumb {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 13px;
    margin-bottom: 10px;
}

    .breadcrumb li a {
        color: #444;
        text-decoration: none;
    }

        .breadcrumb li a .material-icons {
            font-size: 18px;
            position: relative;
            top: 4px;
        }

    .breadcrumb li .material-icons {
        font-size: 18px;
        position: relative;
        top: 4px;
    }

    .breadcrumb > li + li:before {
        content: '>\00a0';
    }

.breadcrumb-col-red li a {
    color: #F44336 !important;
    font-weight: bold;
}

.breadcrumb-bg-red {
    background-color: #F44336 !important;
}

    .breadcrumb-bg-red li {
        color: #fff !important;
    }

        .breadcrumb-bg-red li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-red li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-red li + li:before {
            color: #fff;
        }

.breadcrumb-col-pink li a {
    color: #E91E63 !important;
    font-weight: bold;
}

.breadcrumb-bg-pink {
    background-color: #E91E63 !important;
}

    .breadcrumb-bg-pink li {
        color: #fff !important;
    }

        .breadcrumb-bg-pink li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-pink li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-pink li + li:before {
            color: #fff;
        }

.breadcrumb-col-purple li a {
    color: #9C27B0 !important;
    font-weight: bold;
}

.breadcrumb-bg-purple {
    background-color: #9C27B0 !important;
}

    .breadcrumb-bg-purple li {
        color: #fff !important;
    }

        .breadcrumb-bg-purple li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-purple li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-purple li + li:before {
            color: #fff;
        }

.breadcrumb-col-deep-purple li a {
    color: #673AB7 !important;
    font-weight: bold;
}

.breadcrumb-bg-deep-purple {
    background-color: #673AB7 !important;
}

    .breadcrumb-bg-deep-purple li {
        color: #fff !important;
    }

        .breadcrumb-bg-deep-purple li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-deep-purple li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-deep-purple li + li:before {
            color: #fff;
        }

.breadcrumb-col-indigo li a {
    color: #3F51B5 !important;
    font-weight: bold;
}

.breadcrumb-bg-indigo {
    background-color: #3F51B5 !important;
}

    .breadcrumb-bg-indigo li {
        color: #fff !important;
    }

        .breadcrumb-bg-indigo li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-indigo li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-indigo li + li:before {
            color: #fff;
        }

.breadcrumb-col-blue li a {
    color: #2196F3 !important;
    font-weight: bold;
}

.breadcrumb-bg-blue {
    background-color: #2196F3 !important;
}

    .breadcrumb-bg-blue li {
        color: #fff !important;
    }

        .breadcrumb-bg-blue li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-blue li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-blue li + li:before {
            color: #fff;
        }

.breadcrumb-col-light-blue li a {
    color: #03A9F4 !important;
    font-weight: bold;
}

.breadcrumb-bg-light-blue {
    background-color: #03A9F4 !important;
}

    .breadcrumb-bg-light-blue li {
        color: #fff !important;
    }

        .breadcrumb-bg-light-blue li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-light-blue li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-light-blue li + li:before {
            color: #fff;
        }

.breadcrumb-col-cyan li a {
    color: #00BCD4 !important;
    font-weight: bold;
}

.breadcrumb-bg-cyan {
    background-color: #00BCD4 !important;
}

    .breadcrumb-bg-cyan li {
        color: #fff !important;
    }

        .breadcrumb-bg-cyan li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-cyan li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-cyan li + li:before {
            color: #fff;
        }

.breadcrumb-col-teal li a {
    color: #009688 !important;
    font-weight: bold;
}

.breadcrumb-bg-teal {
    background-color: #009688 !important;
}

    .breadcrumb-bg-teal li {
        color: #fff !important;
    }

        .breadcrumb-bg-teal li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-teal li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-teal li + li:before {
            color: #fff;
        }

.breadcrumb-col-green li a {
    color: #4CAF50 !important;
    font-weight: bold;
}

.breadcrumb-bg-green {
    background-color: #4CAF50 !important;
}

    .breadcrumb-bg-green li {
        color: #fff !important;
    }

        .breadcrumb-bg-green li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-green li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-green li + li:before {
            color: #fff;
        }

.breadcrumb-col-light-green li a {
    color: #8BC34A !important;
    font-weight: bold;
}

.breadcrumb-bg-light-green {
    background-color: #8BC34A !important;
}

    .breadcrumb-bg-light-green li {
        color: #fff !important;
    }

        .breadcrumb-bg-light-green li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-light-green li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-light-green li + li:before {
            color: #fff;
        }

.breadcrumb-col-lime li a {
    color: #CDDC39 !important;
    font-weight: bold;
}

.breadcrumb-bg-lime {
    background-color: #CDDC39 !important;
}

    .breadcrumb-bg-lime li {
        color: #fff !important;
    }

        .breadcrumb-bg-lime li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-lime li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-lime li + li:before {
            color: #fff;
        }

.breadcrumb-col-yellow li a {
    color: #ffe821 !important;
    font-weight: bold;
}

.breadcrumb-bg-yellow {
    background-color: #ffe821 !important;
}

    .breadcrumb-bg-yellow li {
        color: #fff !important;
    }

        .breadcrumb-bg-yellow li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-yellow li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-yellow li + li:before {
            color: #fff;
        }

.breadcrumb-col-amber li a {
    color: #FFC107 !important;
    font-weight: bold;
}

.breadcrumb-bg-amber {
    background-color: #FFC107 !important;
}

    .breadcrumb-bg-amber li {
        color: #fff !important;
    }

        .breadcrumb-bg-amber li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-amber li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-amber li + li:before {
            color: #fff;
        }

.breadcrumb-col-orange li a {
    color: #FF9800 !important;
    font-weight: bold;
}

.breadcrumb-bg-orange {
    background-color: #FF9800 !important;
}

    .breadcrumb-bg-orange li {
        color: #fff !important;
    }

        .breadcrumb-bg-orange li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-orange li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-orange li + li:before {
            color: #fff;
        }

.breadcrumb-col-deep-orange li a {
    color: #FF5722 !important;
    font-weight: bold;
}

.breadcrumb-bg-deep-orange {
    background-color: #FF5722 !important;
}

    .breadcrumb-bg-deep-orange li {
        color: #fff !important;
    }

        .breadcrumb-bg-deep-orange li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-deep-orange li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-deep-orange li + li:before {
            color: #fff;
        }

.breadcrumb-col-brown li a {
    color: #795548 !important;
    font-weight: bold;
}

.breadcrumb-bg-brown {
    background-color: #795548 !important;
}

    .breadcrumb-bg-brown li {
        color: #fff !important;
    }

        .breadcrumb-bg-brown li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-brown li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-brown li + li:before {
            color: #fff;
        }

.breadcrumb-col-grey li a {
    color: #9E9E9E !important;
    font-weight: bold;
}

.breadcrumb-bg-grey {
    background-color: #9E9E9E !important;
}

    .breadcrumb-bg-grey li {
        color: #fff !important;
    }

        .breadcrumb-bg-grey li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-grey li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-grey li + li:before {
            color: #fff;
        }

.breadcrumb-col-blue-grey li a {
    color: #607D8B !important;
    font-weight: bold;
}

.breadcrumb-bg-blue-grey {
    background-color: #607D8B !important;
}

    .breadcrumb-bg-blue-grey li {
        color: #fff !important;
    }

        .breadcrumb-bg-blue-grey li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-blue-grey li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-blue-grey li + li:before {
            color: #fff;
        }

.breadcrumb-col-black li a {
    color: #000000 !important;
    font-weight: bold;
}

.breadcrumb-bg-black {
    background-color: #000000 !important;
}

    .breadcrumb-bg-black li {
        color: #fff !important;
    }

        .breadcrumb-bg-black li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-black li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-black li + li:before {
            color: #fff;
        }

.breadcrumb-col-white li a {
    color: #ffffff !important;
    font-weight: bold;
}

.breadcrumb-bg-white {
    background-color: #ffffff !important;
}

    .breadcrumb-bg-white li {
        color: #fff !important;
    }

        .breadcrumb-bg-white li a {
            color: #fff;
            font-weight: bold;
        }

            .breadcrumb-bg-white li a .material-icons {
                padding-bottom: 8px;
            }

        .breadcrumb-bg-white li + li:before {
            color: #fff;
        }

.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}

    .bg-red .content .text,
    .bg-red .content .number {
        color: #fff !important;
    }

.bg-pink {
    background-color: #E91E63 !important;
    color: #fff;
}

    .bg-pink .content .text,
    .bg-pink .content .number {
        color: #fff !important;
    }

.bg-purple {
    background-color: #9C27B0 !important;
    color: #fff;
}

    .bg-purple .content .text,
    .bg-purple .content .number {
        color: #fff !important;
    }

.bg-deep-purple {
    background-color: #673AB7 !important;
    color: #fff;
}

    .bg-deep-purple .content .text,
    .bg-deep-purple .content .number {
        color: #fff !important;
    }

.bg-indigo {
    background-color: #3F51B5 !important;
    color: #fff;
}

    .bg-indigo .content .text,
    .bg-indigo .content .number {
        color: #fff !important;
    }

.bg-blue {
    background-color: #2196F3 !important;
    color: #fff;
}

    .bg-blue .content .text,
    .bg-blue .content .number {
        color: #fff !important;
    }

.bg-light-blue {
    background-color: #03A9F4 !important;
    color: #fff;
}

    .bg-light-blue .content .text,
    .bg-light-blue .content .number {
        color: #fff !important;
    }

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}

    .bg-cyan .content .text,
    .bg-cyan .content .number {
        color: #fff !important;
    }

.bg-teal {
    background-color: #009688 !important;
    color: #fff;
}

    .bg-teal .content .text,
    .bg-teal .content .number {
        color: #fff !important;
    }

.bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
}

    .bg-green .content .text,
    .bg-green .content .number {
        color: #fff !important;
    }

.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}

    .bg-light-green .content .text,
    .bg-light-green .content .number {
        color: #fff !important;
    }

.bg-lime {
    background-color: #CDDC39 !important;
    color: #fff;
}

    .bg-lime .content .text,
    .bg-lime .content .number {
        color: #fff !important;
    }

.bg-yellow {
    background-color: #ffe821 !important;
    color: #fff;
}

    .bg-yellow .content .text,
    .bg-yellow .content .number {
        color: #fff !important;
    }

.bg-amber {
    background-color: #FFC107 !important;
    color: #fff;
}

    .bg-amber .content .text,
    .bg-amber .content .number {
        color: #fff !important;
    }

.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}

    .bg-orange .content .text,
    .bg-orange .content .number {
        color: #fff !important;
    }

.bg-deep-orange {
    background-color: #FF5722 !important;
    color: #fff;
}

    .bg-deep-orange .content .text,
    .bg-deep-orange .content .number {
        color: #fff !important;
    }

.bg-brown {
    background-color: #795548 !important;
    color: #fff;
}

    .bg-brown .content .text,
    .bg-brown .content .number {
        color: #fff !important;
    }

.bg-grey {
    background-color: #9E9E9E !important;
    color: #fff;
}

    .bg-grey .content .text,
    .bg-grey .content .number {
        color: #fff !important;
    }

.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff;
}

    .bg-blue-grey .content .text,
    .bg-blue-grey .content .number {
        color: #fff !important;
    }

.bg-black {
    background-color: #000000 !important;
    color: #fff;
}

    .bg-black .content .text,
    .bg-black .content .number {
        color: #fff !important;
    }

.bg-white {
    background-color: #ffffff !important;
    color: #fff;
}

    .bg-white .content .text,
    .bg-white .content .number {
        color: #fff !important;
    }

.col-red {
    color: #F44336 !important;
}

.col-pink {
    color: #E91E63 !important;
}

.col-purple {
    color: #9C27B0 !important;
}

.col-deep-purple {
    color: #673AB7 !important;
}

.col-indigo {
    color: #3F51B5 !important;
}

.col-blue {
    color: #2196F3 !important;
}

.col-light-blue {
    color: #03A9F4 !important;
}

.col-cyan {
    color: #00BCD4 !important;
}

.col-teal {
    color: #009688 !important;
}

.col-green {
    color: #4CAF50 !important;
}

.col-light-green {
    color: #8BC34A !important;
}

.col-lime {
    color: #CDDC39 !important;
}

.col-yellow {
    color: #ffe821 !important;
}

.col-amber {
    color: #FFC107 !important;
}

.col-orange {
    color: #FF9800 !important;
}

.col-deep-orange {
    color: #FF5722 !important;
}

.col-brown {
    color: #795548 !important;
}

.col-grey {
    color: #9E9E9E !important;
}

.col-blue-grey {
    color: #607D8B !important;
}

.col-black {
    color: #000000 !important;
}

.col-white {
    color: #ffffff !important;
}


/* Material Icons ============================== */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-26 {
    font-size: 26px;
}

.material-icons.md-28 {
    font-size: 28px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-32 {
    font-size: 32px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/*Dashboard Style*/
